[Unit]
Description=Telegram Sandbox Bot
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/название вашего юзера/название папки в которой лежит бот
ExecStart=~/miniconda3/envs/tg-sandbox/bin/python ~/git/tg-sandbox-bot/tg-sandbox-bot.py

RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target

# cp tg-sandbox-bot.service /etc/systemd/system/
# sudo systemctl daemon-reload
# sudo systemctl enable tg-sandbox-bot
# sudo systemctl start tg-sandbox-bot
# sudo systemctl status tg-sandbox-bot
