[Unit]
Description=Telegram Sandbox Bot
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/git/tg-sandbox-bot
ExecStart=/root/miniconda3/envs/tg-sandbox-bot/bin/python /root/git/tg-sandbox-bot/tg-sandbox-bot.py

RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target
